.reviewCard {
  display: block;
  margin-bottom: 2px;
  padding: 5px;
  background-color: gainsboro;
  color: #fff;
}

.form {
  background-color: var(--white);
  border-radius: 8px;
  padding: 20px 30px;
  width: 50%;
}
.label {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.input,
.textarea {
  border-radius: 6px;
  border: 1px solid var(--light-grey);
  padding: 12px 14px 12px 24px;
  box-sizing: border-box;
  width: 100%;
}
.textarea {
  resize: none;
  height: 70px;
}
.span {
  margin-bottom: 10px;
  display: block;
}
.row {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}
.submit {
  display: flex;
  margin: 20px;
  background-color: var(--blue);
  color: var(--white);
}
.light {
  color: rgb(5, 46, 92);
  background-color: white;
}

.dark {
  color: white;
  background-color: rgb(5, 46, 92);
}
