.button {
  color: var(--white);
  border: 1px solid var(--yellow);
  border-radius: 2px;
  width: 36px;
  height: 36px;
  margin: 2px;
}
.light {
  color: rgb(5, 46, 92);
  background-color: white;
}

.dark {
  color: white;
  background-color: rgb(5, 46, 92);
}
