.counterContainer {
  display: inline;
  padding: 2px;
  font-weight: 600;
  max-width: 80px;
}

.count {
  text-align: center;
  color: black;
  font-size: large;
}

.counterButton {
  color: var(--white);
  border: 1px solid var(--yellow);
  border-radius: 2px;
  width: 36px;
  height: 36px;
  margin: 2px;
}
.light {
  color: rgb(5, 46, 92);
  background-color: white;
}

.dark {
  color: white;
  background-color: rgb(5, 46, 92);
}
