.counterContainer {
  display:inline;
  padding: 2px;
  font-weight: 700;
  max-width: 80px;
}

.count {
  text-align: center;
  color:black
}

.counterButton {
  color: var(--white);
  border: 1px solid var(--yellow);
  border-radius: 2px;
  width: 36px;
  height: 36px;
  margin: 2px;
}
